<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <a href="#" ng-show="isLoggedIn()" ng-click="addPink()" class="add-btn" tooltip="Add a pinkture" title="Add a pinkture">
  <div class="add-btn-in"><i class="glyphicon glyphicon-plus"></i></div></a>
  <div id="pinktures" class="row">
  <div masonry masonry-options="{ transitionDuration: '0.4s' }">
    <div class="masonry-brick" ng-repeat="item in items">
      <div class="deleter" ng-show="myImage(item)" ng-click="deletePink($index)"><a href="#">X</a></div>
      <img class="bounded-img" ng-src="{{item.imgUrl}}"><br/>
      <div class="title">{{item.title}}</div><span class="score">({{item.pinkScore}}%)</span>
    </div>
  </div>
</div>
</div>
<div ng-include="'components/footer.html'"></div>

